<% if @friends %>
	<table class="table">
		<tbody>
			<% @friends.each do |friend| %>
				<tr>
					<td class="td-word-wrap"><%= friend.username %></td>
					<td class="td-word-wrap"><%= friend.stocks.count %> stocks</td>

					<% if current_user.not_friends_with?(friend.id) %>
						<td class="td-word-wrap" id="btn-<%= friend.id %>">
							<%= link_to friendships_path(friend: friend), method: :post, remote: true, class: 'btn btn-outline-primary icon-hover' do %>
								<%= image_tag 'add.svg', class: 'icon24 hover' %>
							<% end %>
						</td>
					<% else %>
						<td class="td-word-wrap">
							<%= image_tag 'check.svg', class: 'icon24' %>
						</td>
					<% end %>
				</tr>
			<% end %>
		</tbody>
<% end %>
