<% if @friends %>
	<table class="table">
		<tbody>
			<% @friends.each do |friend| %>
				<tr>
					<td class="td-word-wrap"><%= friend.username %></td>
					<td class="td-word-wrap"><%= friend.first_name %></td>
					<td class="td-word-wrap"><%= friend.last_name %></td>
					<td class="td-word-wrap"><%= friend.email %></td>

					<% if current_user.not_friends_with?(friend.id) %>
						<td class="td-word-wrap">
							<%= link_to friendship_path(friend), class: 'btn btn-outline-primary icon-hover' do %>
								<%= image_tag 'add.svg', class: 'icon24 hover' %>
							<% end %>
						</td>
					<% else %>
						<td class="td-word-wrap">
							<%= image_tag 'check.svg', class: 'icon24' %>
						</td>
					<% end %>
				</tr>
			<% end %>
		</tbody>
<% end %>
