<h1 class="centrify">My Portfolio</h1>

<div class="search-area">
	<h3>Search Stocks</h3>
	<%= form_tag search_stock_path, method: :get, remote: true do %>
		<div class="form-group">
			<div class="row">
				<div class="input-group mb-3">
					<%= text_field_tag :stock, params[:stock], placeholder: 'Stock ticker symbol', autofocus: true, class: 'form-control form-control-lg', 'max-length': '64' %>

					<div class="input-group-append">
						<%= button_tag type: :submit, class: 'btn btn-outline-primary', id: "searchTickerButton" do %>
							<i class="fas fa-search-dollar fa-lg"></i>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	<% end %>
</div>

<div class="centrify">
	<%= link_to '', refresh_user_stock_path, method: :post, class: 'btn-outline-warning-animated', 'data-content': 'Refresh All' %>
</div>

<div id="results">
	<%= render 'users/result' %>
</div>
