<nav class="navbar navbar-expand-md navbar-custom-dark bg-custom-lite">
	<%= link_to root_path, class: "navbar-brand", id: 'logo' do %>
		<div class="logo">CFT</div>
	<% end %>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item <%= active?(my_portfolio_path) %>">
				<%= link_to 'My Portfolio', my_portfolio_path, class: 'nav-link' %>
			</li>

			<li class="nav-item">
				<%= link_to 'My Friends', my_friends_path, class: 'nav-link' %>
			</li>
		</ul>

		<ul class="navbar-nav ml-auto">
					<% if logged_in? %>
						<li class="nav-item dropdown">
							<i class="fa fa-user" style="color: #fff"></i>
							<%= link_to logged_in? ? current_user.username : 'Guest', root_path, class: "nav-link dropdown-toggle", id: "navbarDropDown", role: "button", 'data-toggle': "dropdown", "aria-haspopup": 'true', 'aria-expanded': "false" %>

							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
								<%= link_to edit_user_registration_path, class: "dropdown-item" do %>
									<i class="fa fa-edit pr-1"></i>Edit Profile
								<% end %>

								<%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
									<i class="fas fa-sign-out-alt pr-1"></i> Signout
								<% end %>
							</div>
					<% else %>
						<%= link_to '', new_user_session_path, class: 'btn-outline-danger-animated', 'data-content': 'Login', style: 'margin-right: 4px' %>
						<%= link_to '', new_user_registration_path, class: 'btn-outline-primary-animated', 'data-content': 'Signup' %>
					<% end %>
			</li>
	</div>
</nav>
